{% extends 'base.html.twig' %}

{% block title %}Edit Arma{% endblock %}

{% block body %}
    <h1>Edit Arma</h1>

    {{ include('arma/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_arma_index') }}">back to list</a>

    {{ include('arma/_delete_form.html.twig') }}
{% endblock %}
